<!--
    Saja Asfour 1210737
    Fatima Dawabsheh 1210827
    Shahd Shreteh 1210444

-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Product</title>

</head>

<link rel="stylesheet" href="/static/css/add.css">

<!-- Main content of the webpage -->
<body>
    <h1>Add New Product</h1>

    <!-- Defines a form to send  data to the server with a POST request -->
    <form action="{{ url_for('add_product') }}" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" required><br>

        <label for="Price">Price:</label>
        <input type="text" name="Price"><br>

        <label for="ProductType">Product Type:</label>
        <input type="text" name="ProductType"><br>
        
        <label for="ExpirationDate">Expiration Date:</label>
        <input type="date" name="ExpirationDate"><br>

        <label for="Description">Description:</label>
        <input type="text" name="Description"><br>

        <!-- Submit button to send the form data to the server -->
        <input type="submit" value="Add Product">

    </form>

</body>
</html>
